body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #5e42a6;
    color: #fff;
    font-family: "Work Sans", Helvetica, sans-serif;
    font-weight: 400;
}

.titlebar {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  height: 30px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11000;
}

.titlebar > h3 {
      font-size: 12px;
      position: absolute;
      text-align: center;
      margin: 0;
      width: 100%;
      top: 9px;
  }

#sidebar + #wrapper {
    margin-left: 20em;
    /*padding-top: 2.5em;*/
}

.top-pane {
    background-color: #7c66b7;
    height: 40px;
    padding: 10px 20px;
}

.main-pane {
    padding: 20px;
}